*::selection{
  background-color: transparent;
}

.eatsweet {
  --primary: #63281B;
  --hover: #13c0f0;
  --body: #444;

  width: 800px;
  position: relative;
  margin: 0 auto;

  font-family: "Baskerville", serif;

  .intro {
    padding: 2em;
    font-size: 18pt;
    text-align: center;
    letter-spacing: .5px;
    .next-text {
      cursor: pointer;
      color: var(--primary);
      &:hover {
        color:var(--hover);
      }
    }
  }

  .tools-sharing {
    padding: 4em;
    font-size: 18pt;
    text-align: center;
  }

  .pages {
    display: block;
    width: 100%;
    text-align: center;
  }

  .tools-input,
  .tools-output {
    display: inline-block;
    position: relative;
  }

  .input, .output {
    --w : 380px;
    --h : 540px;

    width: var(--w);
    height: var(--h);
    float: left;
    display: block;

    margin: 0;
    padding: 2.4em;

    color: var(--body);
    line-height: 1.5;
    font-size: 12pt;
    letter-spacing: .4px;
    text-align: left;

    /* text-align: justify; */
    text-justify: inter-word;

    background-image: url("paper.jpg");
    background-size: var(--w) var(--h);
    background-color: #eee;
  }
  .input {
    margin-right: 10px;

    .word:not(.active){
      cursor: pointer;
      &:hover { color: #f0c013; }
    }
  }

  .word {
    transition: color .3s, opacity .3s;
    display: inline-block;
    position: relative;
  }

  .add-space {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    left:0;

    color: var(--body);

    .space {
      cursor: pointer;
      &:hover { color: var(--primary) }
    }
  }

  .space { transition: opacity .3s, color .3s; }
  .active { cursor: default; }
  .bite { color: rgba(255,255,255,0); opacity: 0;}

  .clone .bite {
    transition: all 0s;
    opacity: 0;
  }

  .overflow::before {
    display:   block;
    width:     100%;
    height:    30px;
    position:  absolute;
    left:      0;
    bottom:    0;
    content:   "";
    transition: background .3s;
    -webkit-background: radial-gradient(at bottom, rgba(255,204,141,1), rgba(255,0,0,0) 66%);
    background: radial-gradient(at bottom, rgba(255,204,141,1), rgba(255,0,0,0) 66%);
    background-position: 0 30px;
    background-repeat: no-repeat;
    animation: its-all-over .2s alternate 2;
  }

  @keyframes its-all-over {
    to {
      background-position: 0 0;
    }
  }

  .download-instructions {
    font-family: inherit;
    .download {
      cursor: pointer;
      color: var(--primary);
      &:hover {
        color: var(--hover);
      }
    }
  }
}
